#account{
  /* background-color: darkgrey; */
  margin: 0px 100px 50px 100px;
  letter-spacing: 1px;
  font-size: 20px;
  line-height: 1.6;
}
#account h1{
  font-size: 60px;
}

/* Left-side */
#account #leftside{
  width: 25%;
  text-align: center;
  border-right: 1px solid #E8E8E8;
  padding-top: 20px;
}
#account #userimage{
  /* background-image: url('../image/logo.png'); */
  background-size: 200px;
  margin: auto;
  border-radius: 100px;
  height: 200px;
  width: 200px;
}
#account #userimage div{
  padding-top: 160px;
}
#account #changePhotoBtn{
  display: none;
}
#account .icon-group label:hover {
  transform: scale(1.5);
}
#account #logoutForm input{
  margin: 25px auto;
}

/* Right-side */
#account #rightSide{
  width: 75%;
}
/* top */
#account #editMode{
  padding: 30px;
  margin: 10px 50px 10px 50px;
  margin-bottom: 10px;
  display: none;
  font-weight: bold;
  border-radius: 5px;
  background-color: #E4B4B4;
}
#account #editMode div{
  float: right;
}

/* bottom */
#account #userdetails{
  /* background-color: whitesmoke; */
  height: auto;
  /* border: solid black 1px; */
  border-radius: 5px;
  padding: 0px 0px 25px 50px;
}
#account #userdetails #editDetailsBtn{
  float: right;
  position: relative;
  right:20px;
  /* margin: 20px 15px 0px 0px; */
}

#account #userdetails label{
  font-weight: bold;
  display: inline-block;
  width: 175px;
}
#account #userdetails input{
  font-family:'Poppins',sans-serif !important;
  background-color: white;
  font-size: 20px;
  border: 0px solid #FFFFFF;
  width: 225px;
  margin: 0px 0px 5px 6px;
}
#account #userdetails select{
  background-color: white;
  border: 0px solid #FFFFFF;
  width: 225px;
  font-size: 20px;
}
#account #userdetails #userimg{
  width: 300px !important;
  display: none;
}

#account #userdetails #accountInfo a:hover{
  color: #ee4266;
  font-weight: bold;
}

#account .icon-group{
  margin: 0px;
}

#account .contentwrapper {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  border-radius: 8px;
}
