#account{
  /* background-color: darkgrey; */
  margin: 0px 100px 50px 100px;
  letter-spacing: 2px;
  font-size: 20px;
  line-height: 1.6;
}
#account h1{
  font-size: 60px;
}

/* Left-side */
#account #leftside{
  width: 25%;
  text-align: center;
}
#account #userimage{
  /* background-image: url('../image/logo.png'); */
  background-size: 200px;
  margin: auto;
  border-radius: 100px;
  height: 200px;
  width: 200px;
}
#account #userimage div{
  padding-top: 160px;
}
#account #changePhotoBtn{
  display: none;
}
#account .icon-group label:hover {
  transform: scale(1.5);
}
#account #userimg{
  /* display: none; */
}
#account #logoutForm{
  margin-top: 50px;
}

/* Right-side */
#account #rightSide{
  width: 75%;
}
/* top */
#account #editMode{
  background-color: darkgrey;
  padding: 20px;
  margin-bottom: 10px;
  display: none;
}
#account #editMode #buttons{
  float: right;
}
#account #editMode #buttons input, #account #logoutForm{
  height: 30px;
  width: 125px;
  background-color: lightgrey;
  border: 1px solid black;
}
#account #editMode #buttons input:hover, #account #logoutForm:hover{
  background-color: darkgrey;
  color: white;
  border: 1px solid white;
}
/* bottom */
#account #userdetails{
  /* background-color: whitesmoke; */
  height: auto;
  border: solid black 2px;
  border-radius: 5px;
  padding: 0px 0px 25px 25px;
}
#account #userdetails #editDetailsBtn{
  float: right;
  margin: 20px 15px 0px 0px;
}

#account #userdetails label{
  font-weight: bold;
  display: inline-block;
  width: 175px;
}
#account #userdetails input, #account #userdetails select{
  background-color: white;
  font-family: 'Italiana', serif;
  font-weight: 750;
  font-size: 20px;
  border: 0px solid #FFFFFF;
  width: 225px;
}
#account #userdetails #userimg{
  width: 300px !important;
  display: none;
}

#account #userdetails #accountInfo a:hover{
  color: #ee4266;
  font-weight: bold;
}

#account .icon-group{
  margin: 0px;
}
