#displayproduct {
  padding: 3rem 0;
}

.product_name h2 {
  margin-top: 0;
  font-size: 30px;
}

.product_descrption {
  font-size: 1rem;
}

.price_tag {
  font-size: 1.3rem;
}

#displayproduct label{
  margin-right: 1rem;
}

.btnAdd2cart {
  background-color: #fe4c50;
  border:none;
  width: 160px;
  font-size: 1rem;
  color: white;
  margin-top: 0;
  padding: 20px 0;
  }

  .btnAdd2cart:focus {
    border: 0px;
  }

.btnAdd2cart:hover {
  opacity: 0.6;
}

.attribute {
  margin-bottom: 2rem;
}

input[type=number]
{
  margin-top: 10px;
  padding: 0.5rem;
  font-size: 1rem;
}

input[type=number]:focus{
  border: 1px solid  #fe4c50;
}
