/* GENERAL */
body {
  margin: 0;
  padding: 0;
  font-family: 'Italiana', serif;

}

section {
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer {
  padding-top: 75px;
  padding-bottom: 32px;
  color : white;
  background-color: black;
}

.title-section {
    margin-bottom: 3rem;
}

.title-section h2{
  text-align: left;
  padding-left: 30px;
  display: inline-block;
  font-size: 2rem;
  border-left: 4px solid #ee4266;
}



.container-fluid {
  padding: 1% 15% 1%;
  margin-left:auto;
  margin-right:auto;
  overflow:hidden;
}

.img-fluid {
  max-width:100%;
  height: auto;
}

.flex{
  display: flex;
}

/* END OF GENERAL */
/* -------------------------------------------------------------------------------------------------------------------------- */
/* TITLE */
.logo {
  margin:5px 20px 5px 20px;
}

.icon-group {
  margin-left: 30px;
}

.fixed {
  position: fixed;
}

header {
  position: sticky;
  top:0;
  width: 100%;
   background: white;
   z-index: 3;
   overflow :hidden;
   box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, .25);
}

.wrapHead {
  display: flex;
  align-items:center;
  overflow: hidden;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: 3px solid none;
  margin-left: 15px;
  margin-right: 15px;
}

#carousel .col{
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}

#carousel .row {
  display: flex;
  flex-wrap: wrap;
  min-height: 600px;
  height: calc(100vh - 174px);
}

#title ul {
  padding-left: 0;
  margin: auto;
}

#title ul li {
  float: left;
  list-style: none;
}

#title ul li a {
  padding: 1rem 2rem 1rem 2rem;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.2rem;
  color: black;
  display:block;
  font-size: 14  px;
}

#title ul li a:hover {
  color: #ee4266;
  transition: all 0.4s ease 0s;
}

.search-box {
  padding-right: 10px;
}

#search-box input {
  outline: none;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}

#search-box input::-webkit-search-decoration,
#search-box input::-webkit-search-cancel-button {
  display: none;
}

input[type=search] {
  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 100px;
  background-color: #fff;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

input[type=search]:focus {
  width: 130px;
  background-color: #fff;
  border-color: #66CC75;
  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}

input:-moz-placeholder {
  color: #999;
}

input::-webkit-input-placeholder {
  color: #999;
}

.icon-group span a{
  color: #2f2f2f;
    text-decoration: none;
  font-size: 30px;
  padding: 0 8px 0 8px;
  transition: transform .2s; /*animation*/
}

.icon-group span:hover {
  transform: scale(1.5);

}
/* END OF TITLE */
/* -------------------------------------------------------------------------------------------------------------------------- */

/* NEWSLETTER */
.newsletter_content {
  margin: 0% 5% 0% 5%;
  position: relative;
  display: block;
  background-image: url(../image/newsletter.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* MODAL */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* END MODAL */


/* END OF NEWSLETTER */
/* -------------------------------------------------------------------------------------------------------------------------- */
/* FOOTER */
footer ul li
{
  list-style: none;
}

footer ul {
  padding-inline-start: 0px;

}

footer ul li a {
  text-decoration: none;
  color: white;
}

/* END OF FOOTER */
