/* GENERAL */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: 'Italiana', serif; */
  font-family: 'Poppins', sans-serif;
}

a,h2,h3,p {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

section {
  display: block;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
}

.title-section {
    margin-bottom: 3rem;
    font-family: 'Italiana', serif;

}

.title-section h2{
  text-align: left;
  padding-left: 30px;
  display: inline-block;
  font-size: 2rem;
  border-left: 4px solid #ee4266;
}

.red_button {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #fe4c50;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 40px;
  display: block;
  width: 30%;
  border-radius: 3px;
}

.red_button:hover{
  opacity: 0.6;
  transition: 0.7s;
}

/* END OF GENERAL */
/* -------------------------------------------------------------------------------------------------------------------------- */
/* TITLE */
.banner {
  width: 100%;
  height: 50px;
  background: #1e1e27;
  color: white;
  font-family: 'Italiana', serif;
  transition: 1s;
}

.banner .login_dropdown{
  background: none;
  border: none;
  color: white;
  font-family: inherit;
  font-size: inherit;
}
.dropdown {
  position: relative;
  display: inline-block;
  width:100px;
}

.dropdown-content {
  display: none;
  position:absolute;
  background-color: #1e1e27;
  width: 100px;
  box-shadow: 0px 2px 2px #DDDDDD;
  z-index:4;
}

.dropdown-content a {
  color: black ;
  text-align: center;
  text-decoration: none;
  display: block;
  background-color: white;
}


.dropdown:hover .dropdown-content {display:block;}
.dropdown:hover {background-color:#ee4266;}
.dropdown-content a:hover {background-color:#ddd;}

.logout_icon a{
  text-decoration: none;
  color: inherit;
  margin-left: 1.5rem;
  display: block;
}

.logo {
  margin:5px 20px 5px 20px;
}


header {
  position: sticky;
  top:0;
  width: 100%;
   background: white;
   z-index: 3;
   overflow :hidden;
   box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, .25);
}

header:after{
  content: "";
  display: block;
  clear: both;
}

.wrapHead {
  display: flex;
  align-items:center;
  overflow: hidden;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: 3px solid none;
  margin-left: 15px;
  margin-right: 15px;
}

#title {
  font-family: 'Italiana', serif;
}

#carousel .col{
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}

#carousel .shop_button {
  padding: 0 16px;

}

#carousel .row {
  display: flex;
  flex-wrap: wrap;
  min-height: 600px;
  height: calc(100vh - 174px);
}

#title ul {
  padding-left: 0;
  margin: auto;
}

#title ul li {
  float: left;
  list-style: none;
}

#title ul li a {
  padding: 1rem 2rem 1rem 2rem;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.2rem;
  color: black;
  display:block;
  font-size: 14  px;
}

#title ul li a:hover {
  color: #ee4266;
  transition: all 0.4s ease 0s;
}

.search-box {
  padding-right: 10px;
}

#search-box input {
  outline: none;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
  outline-offset: 0px;
  outline:none;
}

#search-box input::-webkit-search-decoration,
#search-box input::-webkit-search-cancel-button {
  display: none;
}

input[type=search] {
  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 100px;
  background-color: #fff;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

input[type=search]:focus {
  width: 130px;
  background-color: #fff;
  border-color: #66CC75;
  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}

input:-moz-placeholder {
  color: #999;
}

input::-webkit-input-placeholder {
  color: #999;
}

.icon-group {
  margin-left: 30px;
}

.icon-group span a{
  color: #868995;
  text-decoration: none;
  font-size: 25px;
  padding: 0 8px 0 8px;
}

.icon-group a:hover{
  color:black;
}


/* END OF TITLE */
/* -------------------------------------------------------------------------------------------------------------------------- */
/* CATEGORIES */
#categories {
  margin-left: 80px;
  margin-right: 80px;

}


.banner-item {
  height:265px;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.banner-category {
  height: 50px;
  min-width: 90px;
  padding-left: 25px;
  padding-right: 25px;
  background: white;
  margin:0 auto;
}

.banner-category a{
  line-height: 50px;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 22px;

}

/* POPULAR PRODUCTS */
#popular .title-section h2 {
  border-left: none;
  position: relative;
  padding-bottom: 20px;
  padding-left: 0;
}

#popular .title-section h2:after{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width:130px;
  height:4px;
  background: #ee4266;
  content:"";
}

#popular .col {
  margin-bottom: 3rem; 
}

.product-item {
  margin-bottom: 30px;
  background: #f9f9f9;
  min-height: 400px;
  padding: 40px;
  position:relative;
  overflow: hidden;
  display: block;
}

.product-item img {
  left:50%;
  top: 0;
  transform: translateX(-50%);
  object-fit: cover;
  position: absolute;
}

.item-title {
  font-size: 18px;
  margin-bottom: 0;
}

/* DELIVERY */
#delivery {
  margin-top: 3rem;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom : 3rem;
}




/* NEWSLETTER */
#newsletter h2,h3{
  font-family: 'Italiana', serif ;
}

#newsletter .row{
  background-color: #f9f9f9;
}

#newsletter button {
  width: 160px;
  height: 46px;
  border: none;
  background: #fe4c50;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

#newsletter button:hover {
  opacity: 0.6;
  transition: 0.7s;
}

#newsletter form {
  display:block;
  margin-top:33%;
  margin-bottom: 33%;
}

/* END OF NEWSLETTER */
/* MODAL */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  padding-top: 5%; /* Location of the box 100px */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 90%;

  text-align: center;
  letter-spacing: 2px;
  font-size: 20px;
  line-height: 1.6;
}

.modal-content label{
  font-weight: bold;
  display: inline-block;
  width: 250px;
  text-align: left;
}
.modal-content .buttons{
  margin: 30px 0px 30px 0px;
}
.modal-content .buttons input, .buttons input{
  width: 125px;
  background-color: #FE4C50;
  color: white;
  border: 0px solid black;
  border-radius: 5px;
  padding: 10px;
  height: auto;
}
.modal-content .buttons input:hover, .buttons input:hover{
  opacity: 0.6;
  transition: 0.7s;
  border: 0px solid white;
  border-radius: 5px;
  cursor: pointer;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* END MODAL */

.messagePopup{
  background-color: darkgrey;
  position: fixed;
  top: 0;
  z-index: 10;
  margin: 140px 25% 0px 25%;
  width: 50%;
  height: auto;
  padding: 20px;
  font-weight: bold;
  border-radius: 5px;
  display: none;
}

/* BACK TO TOP BTN */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 2;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  transition: all .3s ease .15s;
}

#myBtn:hover {
  background-color: #555;
}

/* -------------------------------------------------------------------------------------------------------------------------- */
/* FOOTER */
footer {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color:  #f9f9f9;
}

footer ul li
{
  padding-left: px;
  padding-bottom: 16px;
  color: #25262a;
}

footer ul {
  list-style:none;
  padding-inline-start:0px;

}

footer ul li a {
  text-decoration: none;
  color: black;
}

.contact-icon i,footer i{
  color:#fe4c50;
  padding-right: 1rem;
}
/* END OF FOOTER */

/* CONTACT PAGE */
#contact {
 /* background? maybe */
}

.contact-icon i{
  font-size: 2rem;
}
#contact span{
  color: red;
}

#contact p{
  font-size:1.2rem;
  margin:0;
  padding-left: 0.5rem;
}

.contact-holder {
  align-items: center;
  border-radius: 6px;
  margin-left:1.5rem;
  margin-bottom:2rem;
  padding:1rem 1rem;
  box-shadow:0px 8px 35px 10px #E8E8E8;
}
