/* GENERAL */
body {
  margin: 0;
  font-family: 'Italiana', serif;

}

/* .container-fluid {
  padding: 0 0% 0 0%;
  margin: auto;
} */
/* END OF GENERAL */
/* -------------------------------------------------------------------------------------------------------------------------- */
/* PROMO BAR */
.promo {
  padding: 3px 0 3px 0;
  background-color: black;
  font-size: 0.8rem;
  display:none;

}

.promo p {
  color: white;
  text-align: center;
}

.promo p span {
  position: relative;
  left: 30%;
}
/* END OF PROMO BAR */
/* -------------------------------------------------------------------------------------------------------------------------- */
/* TITLE */
.logo {

}

.navbar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 3% 0 3%;
  width:100%;
  z-index: 22;
  -webkit-box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, .25);
  -moz-box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, .25);
  box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, .25);
  border-bottom: 3px solid none;
  background-color: white;

}

ul {
  padding-left: 0;
  margin: auto;
}

ul li {
  float: left;
  list-style: none;
}

ul li a {
  padding: 1rem 2rem 1rem 2rem;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.2rem;
  color: #2f2f2f;
  display:block;
}

ul li a:hover {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}

.search-box {
  padding-right: 10px;
}

#search-box input {
  outline: none;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}

#search-box input::-webkit-search-decoration,
#search-box input::-webkit-search-cancel-button {
  display: none;
}

input[type=search] {
  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 100px;
  background-color: #fff;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

input[type=search]:focus {
  width: 130px;
  background-color: #fff;
  border-color: #66CC75;
  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}

input:-moz-placeholder {
  color: #999;
}

input::-webkit-input-placeholder {
  color: #999;
}

.icon-group span {
  color: #2f2f2f;
  font-size: 30px;
  padding: 0 8px 0 8px;
  transition: transform .2s; /*animation*/
}

.icon-group span:hover {
  transform: scale(1.5);
}
/* END OF TITLE */
/* -------------------------------------------------------------------------------------------------------------------------- */
