/* Modal Content */
.modal-content2 {
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 700px;
  height: auto;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  line-height: 1.6;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
  display: block;
  overflow: visible;
  background-color: #fefefe;
  background-image: url("../image/svg/loginbanner.svg");
  background-size:auto;
  background-repeat: no-repeat;
}

.modal-content2 h2{
  padding: 20px 0;
  margin-top: 0;
  border-radius: 20px;
  font-family: inherit;
  color: black;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.modal-content2 label{
  font-weight: normal;
  width: 200px;
  text-align: left;
    color: #555555;
}

/* The Close Button */
.close2 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  bottom:25px;
  left: 15px;
}

.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* END MODAL */

.messagePopup{
  background-color: white;
  position: fixed;
  top: 50%;
  left :50%;
  transform: translate(-50%,-50%);
  z-index: 10;
  /* margin: 400px 40% 0 40%; */
  width: 25%;
  height: auto;
  padding: 20px;
  font-weight: bold;
  border-radius: 5px;
  display: none;
  box-shadow:0px 8px 35px 10px #E8E8E8;
  transition: 2s;
}

.modal-content2 input[type=text], .modal-content2 input[type=password],.modal-content2 input[type=email],.modal-content2 select{
  margin-top:10px;
  width:70%;
  height: 46px;
  margin-right:auto;
  margin-left: auto;
  box-shadow: 0px 2px 2px #DDDDDD;
  border-radius: 20px;
  padding-left: 20px;
}

.modal-content2 div.col-12{
  margin-bottom: 1rem;

}

.modal-content2 i {
  position: absolute;
  bottom:10px;
  right: 130px;
  cursor:pointer;
}
