#products{
  letter-spacing: 2px;
  font-size: 20px;
  line-height: 1.6;
}

#products h1{
  /* background-color: red; */
  font-size: 50px;
  text-align: center;
}
#products hr{
  /* width: 80%; */
}

/* LEFT SIDE > SEARCH & FILTER */
#products #left{
  background-color: lightgrey;
  width: 20%;
  margin-left: 20px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}
#products form{
  width: auto;
  margin: auto;
}
#products #searchbox{
  margin: auto;
  width: 80%;
}
 #products select{
   border: 1px solid lightgrey;
   border-radius: 7px;
   height: 40px;
   width: 90%;
   border-bottom: 1px solid black;
   margin-top: 10px;
 }

 #products #checkoutBtn input{
   margin-top: 20px;
 }

/* RIGHT SIDE > PRODUCTS */
#products #categories{
  /* background-color: blue; */
  width: 100%;
  margin: 0px;
}
#products .productrow{
  /* background-color: green; */
  width: auto;
  margin-bottom: 50px;
  padding-top: 50px;
}
#products .productrow span{
  margin: 0px auto 10px auto;
}
#products .productrow span a{
  color: black;
  text-decoration: none;
}
#products .productrow img{
  cursor: pointer;
  height: 300px;
  width: 250px;
}
#products .productrow #info{
  margin: auto;
  height: 100px;
  width: 200px;
}
#products .productrow a{
  color: black;
  text-decoration: none;
}
