.text-mid {
  text-align: center;
}

.heading {
  font-size: 70px;
}

.frame {
  margin: auto;
}

.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.flex {
  display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap;
  height: 100% ;
}

.col {
  width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}
