.container-fluid {
  width: 100%;
  padding: 1% 15% 1%;
  margin-left:auto;
  margin-right:auto;
  overflow:hidden;
}

.img-fluid {
  max-width:100%;
  height: auto;
}

.text-mid {
  text-align: center;
}

.heading {
  font-size: 70px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.flex {
  display: flex;

}

.text-right {
  text-align: right;
}

.row {
  display: flex;
  flex-wrap: wrap;
  height: 100% ;
  margin-bottom: 20px;
}

.col {
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.frame {
  margin: auto;
}

.form-group {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1rem;
  align-items: center;
}

.form-control {
  font-family: 'Poppins',sans-serif !important;
  display: block;
  width:100%;
  padding: 0.375rem 0.375rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin-top: 1rem;
}

.form-control:focus {
  outline-offset:0px;
  outline:none;
  border: 1px solid #007bff;
}

.btnSubmit {
  color: white;
  cursor: pointer;
  background-color: #fe4c50;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 40px;
  display: block;
  width:100%;
  border:none;
  outline:0;
  text-transform: uppercase;
  border-radius: 3px;
  box-shadow: 0px 2px 2px #DDDDDD;
}

.btnSubmit:hover{
  opacity: 0.6;
  transition: 0.7s;
}
